/* Styles principaux et carrousel */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* full viewport height */
}

main {
    flex: 1; /* expands to fill available space */
}

header {
    background: linear-gradient(to right, #0056b3, #0088cc);
    color: #fff;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to right, #0056b3, #0088cc);
    padding: 10px 20px;
}
.logo-header {
    height: 50px; /* Taille du logo dans l'en-tête */
}

.medicare-text {
    color: white;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

.logo {
    height: 50px;
}

.main-nav ul {
    list-style: none;
    display: flex;
}

.main-nav ul li {
    padding: 0 15px;
}

.main-nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.main-nav ul li a:hover, .main-nav ul li a.active {
    background-color: #f1f1f1;
    color: #003167;
}



.info-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.cta-button {
    background-color: #0066cc;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margi-bottom: 30px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

.footer-content a {
    color: #ccc;
    text-decoration: none;
}

/* Organiser le contenu principal et la FAQ côte à côte */
.main-content {
    display: flex;
    justify-content: space-between; /* Assure une répartition équitable de l'espace */
    align-items: start; /* Alignement vertical au début */
    padding: 20px;
    max-width: 1200px; /* Limiter la largeur totale */
    margin: auto; /* Centrage horizontal */
}

/* Ajustements pour le contenu de bienvenue et le CTA */
.info-section {
    flex: 3; /* Allouer plus d'espace à cette section */
    text-align: left; /* Alignement du texte à gauche */
    padding: 20px;
    margin-right: 20px; /* Espace entre les deux colonnes */
}

/* Ajustements pour la section FAQ */
.faq-section {
    margin-top: 20px;
    flex: 4; /* Moins d'espace que la section principale */
    padding: 20px;
    background: #f9f9f9; /* Fond distinct pour la FAQ */
    border-radius: 5px; /* Bordures arrondies */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour la distinction */
}

/* Ajustements pour les détails de la FAQ */
.faq-section details {
    margin-bottom: 10px; /* Espace entre les questions */
    background: white; /* Fond pour chaque détail */
    border-radius: 5px; /* Bordures arrondies pour les détails */
    padding: 10px;
}
/* Conteneur principal pour l'alignement horizontal */
.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

/* Nouveau conteneur pour le contenu de bienvenue et la FAQ */
.welcome-faq-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Styles ajustés pour la section de bienvenue pour s'assurer qu'elle n'occupe pas tout l'espace horizontalement */
.welcome-section {
    flex: 3; /* Donne plus d'espace à cette section */
    padding-right: 20px; /* Ajoute un peu d'espace entre les deux sections */
}

/* Ajustement pour la FAQ pour mieux s'aligner avec le reste du contenu */
.faq-section {
    flex: 1;
    padding: 20px;
    max-width: 350px; /* Limite la largeur de la FAQ pour ne pas être trop large */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #f9f9f9;
}

/* Assurer la visibilité et l'interaction des liens */
.main-nav ul li a, .event-content a, .faq-section details summary {
    cursor: pointer;
    color: #0056b3;
    text-decoration: none;
}

.main-nav ul li a:hover, .event-content a:hover, .faq-section details summary:focus {
    text-decoration: underline;
    color: #003366;
}

/* Styles spécifiques au carrousel */
#carrousel {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 50px; /* Décalage vers la gauche */
    top: 25px; /* Décalage vers le bas */
    width: 385px; /* Spécifiez la largeur pour garder la taille actuelle */
    height: 400px;
    overflow: hidden;
    background: white;
    border-radius: 5px;
    margin-right: 100px;
    margin-left: 40px;
    margin-bottom: 40px;
}

#carrousel .header {
    background-color: #ADD8E6; /* Bleu clair */
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Arial', sans-serif;
}

#carrousel ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

#carrousel li {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    transition: opacity 1s ease-in-out;
}

#carrousel li.active {
    opacity: 1;
}

#carrousel img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajuste l'image sans la couper */
    object-position: center; /* Centre l'image */
    display: block; /* Élimine les espaces blancs autour des images */
}

.info {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.controls {
    position: absolute;
    width: 100%;
    bottom: 10px;
    text-align: center;
}

.prev, .next, .nav-btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background: #ADD8E6;
    color: white;
    border-radius: 3px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.prev:hover, .next:hover {
    background-color: #367c39;
}

/* Styles spécifiques à l'événement de la semaine */
.event-week {
    margin-top: 24px;
    margin-right: 100px;
    flex-grow: 1; /* Prend tout l'espace restant */
    padding: 0px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.event-header {
    background-color: #ADD8E6;
    color: white;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: 'Arial', sans-serif;
    margin-bottom: 15px;
}

.event-content {
    font-size: 16px;
}

.event-content h3 {
    margin-top: 0;
}

.event-content p {
    margin: 5px 0;
}

.faq-section details summary {
    font-weight: bold;
}

.faq-section details {
    background: #eee;
    padding: 10px;
    margin-top: 5px;
}